h1 {
  text-align: center;
}
p {
  text-align: center;
}

#buttons {
  display: flex;
  justify-content: center;
  padding: 40px;

}

#texto {
  font-size: 20px;
  font-weight: bolder;
  color: black;
}

#piedra,
#papel,
#tijeras {
  font-size: 60px;
  width: 100px;
  height: 100px;
  border-radius: 20%;
  margin-left: 20px;

}

#resultado{
  font-size: 22px;
  color: black;
  font-weight: bold;

}

#frase{
  font-size: 20px;
  color: black;
}

#caja{
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 400;
  background: #b6c3ff65;
  margin: 25px 650px 25px;
  overflow: hidden;
  padding: 10px;
  border-style: solid;
  border-color: #148af8;
  border-width: 5px;
  border-radius: 20%;
}
